<launch>
  <arg name="policy_dir"/>
  <arg name="ns" default="aliengo"/>
  <arg name="gridmap_topic" default="/gridmap_from_octomap_filter"/>
  <arg name="gridmap_layer" default="elevation_inpainted"/>
  <arg name="pose_topic" default="/robot_base_pose_inter"/>
  <arg name="cmd_vel_topic" default="cmd_vel"/>

  <include file="$(find lqc-ros)/launch/lqc.launch">
    <arg name="policy_dir" value="$(arg policy_dir)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="gridmap_topic" value="$(arg gridmap_topic)"/>
    <arg name="gridmap_layer" value="$(arg gridmap_layer)"/>
    <arg name="pose_topic" value="$(arg pose_topic)"/>
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
  </include>
</launch>
